@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout != null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<h1 class="section-title">Zarządzanie kontem</h1>

<div>
    <h2 class="section-subtitle">Zmień ustawienia swojego konta</h2>
    <hr />
    <div class="row g-4">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            <div class="manage-body p-4 rounded shadow-sm bg-white">
                @RenderBody()
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
