@model DomKultury.Controllers.TestViewModel
@{
    ViewData["Title"] = "Administracja – Wydarzenia";
}
<h2>Wydarzenia</h2>
<partial name="_TabelaAdmin" model="Model.Wydarzenia" />

<h2>Zajęcia</h2>
<partial name="_TabelaAdminZajecia" model="Model.Zajecia" />

<h2>Instruktorzy</h2>
<partial name="_TabelaAdminInstruktorzy" model="Model.Instruktorzy" />

<h2>Uczestnicy</h2>
<partial name="_TabelaAdminUczestnicy" model="Model.Uczestnicy" />

<h2>Kategorie</h2>
<partial name="_TabelaAdminKategorie" model="Model.Kategorie" />

@section Scripts {
    <script src="~/js/admin-panel.js"></script>
}
